@using TechElevator.Web.Models;

@{
    ViewBag.Title = "Summary";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@model FavoriteThings
<h2>Summary</h2>
<br />
<h2>Your Favorite Color is: @Model.Color</h2>
<h2>Your Favorite Food is: @Model.Food</h2>
<h2>Your Favorite Season is: @Model.Season</h2>

