<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link rel="stylesheet" href="~/Content/style.css" />
</head>
<body>
    <header>
        <h2>@ViewBag.Title</h2>
    </header>
    <nav>
        <ul>
            <li>@Html.ActionLink("Favorite Things Quiz", "Page1", "Home")"</li>
        </ul>        
    </nav>
    <section id="main-content">
        <h1>Favorite Things Exercise</h1>

        @RenderBody()
    </section>
</body>
</html>

