html {
  font: 96px Courier;
  color: white;
  font-weight: 500;
}

body
{
    display: flex;
}

.box {
  padding: 50px;
  width: 10%;
}

.odd {
  background-color: #ee3e64;
}

.even {
  background-color: #44accf;
}

#box_0
{
    margin: 0;
    display: inline-table;
}
#box_1
{
      display: inline-table;
      margin:  210px 0   0  0px;
}

#box_2
{
      display: inline-table;
      margin:  420px 0   0  0px;
}

#box_3
{
      display: inline-table;
      margin:  630px 0   0  0px;
}

#box_4
{
      display: inline-table;
      margin:  840px 0   0  0px;
}
#box_5
{
      display: inline-table;
      margin:  1050px  0 0  -16.5%;

}
#box_6
{
      display: inline-table;
      margin:  1260px 0   0  -33%;
}
#box_7
{
      display: inline-table;
      margin:  1470px 0   0  -500px;
}
#box_8
{
      display: inline-table;
      margin:  1680px 0   0  -500px;
}
#box_9
{
      display: inline-table;
      margin:  1890px 0   0  -500px;
}
